doctype html
html
  head

    meta(charset="UTF-8")
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
                  
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/index.css')
    title Welcome to THEMO Web-Site

    block css

    block scripts


  body
      .header
        a(href='http://www.haifa.ac.il/index.php/en/' target='_blank') <img class="img-fluid" id="logo_left" src="img/univ_haifa.png" alt="Haifa logo" />
        
        a(href='http://marsci.haifa.ac.il/index.php/en/' target='_blank') <img id="logo_lch" src="img/LHC_logo_FINA.png" alt="LCH logo" />
        a(href='https://www.tamu.edu/' target='_blank') <img id="logo_right" src="img/am.png" alt="A&M logo"/>
        h2.page-title Welcome to the THEMO Website
        
        ul.nav
          li: a(href='/' id='/') Home
          li: a(href='/buoys' id='buoys') Buoys
          li: a(href='/graph' id='graph') Graph
          li: a(href='/login' id='login') login

          <div class="dropdown">
            <button class="dropbtn">Links</button>
            // <a href="#">Links</a>
            <div class="dropdown-content">
              <a href="http://marsci.haifa.ac.il/" target="_blank">School of Marine Sciences</a>
              <a href="http://tabs.gerg.tamu.edu/tglo/" target="_blank">Texas A&M Buoys</a>
            </div>
          </div>

      .main-content
        block content

      .footer
        p Copyright © 2017 themo@univ.haifa.ac.il


      
      script(src='scripts/default.js')
      
      //- <!-- Start of StatCounter Code for Default Guide -->
      script.
        var sc_project=11444115; 
        var sc_invisible=1; 
        var sc_security="290f42a7"; 
        document.write("\<script type='text/javascript' src='http://www.statcounter.com/counter/counter.js'\>\</script\>")
      
      <noscript><div class="statcounter"><a title="web statistics" href="http://statcounter.com/" target="_blank"><img class="statcounter" src="//c.statcounter.com/11444115/0/290f42a7/1/" alt="webstatistics"></a></div></noscript>
      //- <!-- End of StatCounter Code for Default Guide -->
