extend default

block content

  p.
    THEMO (Texas A&M - University of Haifa Eastern Mediterranean Observatory)” is an observatory comprising of two sensor arrays attached to 2.25m diameter surface buoys.
    THEMO includes a shallow mooring (125 m) in the coastal zone of the Levant Basin of the Mediterranean Sea,
    and a deep mooring (1500 m) located 50 km from the northern shores of Haifa after the continental shelf.
    The two moorings have realtime RF communication capabilities, and the data is received at a shore station and is displayed at the
    University of Haifa on 8 large tiled screens.

    Here you can learn about us, track and download the data from sensors.
    Sign with us to get notified on new events and to get alarms on data from your sensors of choice.
