extend default

block content
  
  .main.container
   .row
     .col-md-6.col-md-offset-3
       h1.display-4.m-b-2 Themo Health Status
       
      
       //-  h2 #{report.barometer.pressure}
      
       

       
